a {
  color: #f389a5;
}

.bg-body {
  width: 100%;
  background-image: url("../images/inicio.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-form {
  width: 100%;
  background-image: url("../images/fondo.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.btn-sefar {
  background-color: #870021;
  color: white;
}
.btn-sefar-blue {
  background-color: #5bc0de;
  color: white;
}

.border-sefar {
  border: 1px solid #8700226e;
}

/* Carousel */
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  opacity: .7;
}

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
